extends _layout

block body
  .container.login-page
    .jumbotron
      header
        h1 Marks
      p.tagline A personal notebook/wiki app, just for you!
      a.btn.btn-primary.btn-lg(href='/auth/google')
        i.fa.fa-sign-in
        = ' Sign in with Google'
