// Colors
light-gray = #d3dedb
blue1 = #19b394
blue2 = #235e52
normal-box-shadow = 0 2px 5px rgba(0,0,0,0.26)

@import "mixins"
@import "login"
@import "meta"
@import "table"
@import "header"
@import "sidebar"
@import "footer"

section.content
  container()
  display flex
  margin-bottom 30px
  padding 30px
  background #fff
  border-radius 2px
  box-shadow normal-box-shadow
  h1
    margin 0 0 15px
    font-weight 300
    font-size 32px
    .subtitle
      color darken(light-gray, 40%)
      font-size 80%
      display inline-block
      margin-left 15px

section.content .page-contents
  flex 1 1

section.content h1.page-header
  font-size 32px
  margin 0 0 15px

section.content h2.page-subheader
  margin-top 45px
  font-size 26px

.centered-message
  text-align center
  font-style italic
  font-weight 300
  font-size 22px

.boxed-message
  text-align center
  font-style italic
  font-weight 300
  font-size 22px
  border-radius 2px
  padding 80px 60px
  background #eee

