.login-page
  .jumbotron
    border-radius 4px
    margin 100px 0 30px
    background #fff
    box-shadow 0 1px 3px rgba(0,0,0,.15),0 0 0 1px rgba(0,0,0,.05)
    padding 40px
    .btn.btn-primary
      border-radius 2px
      border none
      border-top 1px solid #1e84d1
      background #155a8e

  header
    border-radius 4px 4px 0 0
    background #31363D
    margin -40px -40px 40px

  h1
    border-radius 4px 4px 0 0
    font-size 48px
    font-weight 300
    color #fff

    padding 120px 40px 60px
    margin 0

    text-shadow 0 2px 10px #444
    background rgba(40,40,40,0.75)

