*
  box-sizing border-box

html, body
  background light-gray
  width 100%
  margin 100%
  margin 0
  padding 0
  font-family 'Open Sans', sans-serif
  font-size 16px

.btn
  display inline-block
  padding 6px 12px
  border-radius 2px
  background #efefef
  color #111
  border 1px solid #dedede
  text-decoration none
  cursor pointer

.loading-placeholder
  width 300px
  height 100px
  line-height 100px
  font-weight 300
  text-align center
  color #fff
  background: #333
  position fixed
  top 50%
  left 50%
  margin-left -(@width / 2)
  margin-top -(@height / 2)
  border-radius 2px

.error-page
  width 600px
  height 400px
  font-weight 300
  text-align center
  color #222
  background: #fff
  position fixed
  top 50%
  left 50%
  margin-left -(@width / 2)
  margin-top -(@height / 2)
  padding 100px 0
  border-radius 2px
  box-shadow normal-box-shadow
  h1
    line-height 100px
    margin 0
    font-size 60px
    font-weight 300
  p
    line-height 100px
    margin 0
    font-size 22px
