aside.sidebar
  flex 0 0 230px
  background #eee
  border-right 1px solid #ddd
  border-radius 2px 0 0 2px
  margin -30px 30px -30px -30px
  padding 30px

aside.sidebar div.notebook-links a
  display block
  border-bottom 2px solid #ddd
  padding 8px 0
  transition all 200ms
  &:hover
    background #ddd
    padding-left 8px
    cursor pointer
  &:first-child
    border-top 2px solid #ddd

a.add-notebook
  display block
  border 2px solid #ccc
  margin-top 30px
  padding 6px 12px
  text-align center
  background #ddd
  transition all 200ms
  &:hover
    background transparent
    cursor pointer
